/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

:root {
    --color-bg: #000;
    --color-white: #fff;
    --color-prime: #f41f04;
    --color-second: #f29069;
    --color-blue: #535ff6;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/MontserratRegular.woff) format('woff'),
        url(../fonts/MontserratRegular.woff2) format('woff2');
    font-weight: 400;    
	font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/MontserratMedium.woff) format('woff'),
        url(../fonts/MontserratMedium.woff2) format('woff2');
    font-weight: 500;    
	font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/MontserratBold.woff) format('woff'),
        url(../fonts/MontserratBold.woff2) format('woff2');
    font-weight: 700;    
	font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-bg);    
    height: 100vh;
}

.main {
    padding-top: 40px;
    height: 100%;    
}

.btn {    
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;    
}

.wrapper {
    /* padding-top: 150px; */
    height: 100vh;
    position: relative;    
    overflow: hidden;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: 
    -o-linear-gradient(white 1px, transparent 1px),
    -o-linear-gradient(left, white 1px, transparent 1px),
    -o-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgb(255,255,255,1) 80%);
    background-image: 
    linear-gradient(white 1px, transparent 1px),
    linear-gradient(90deg, white 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255, 0.1) 0%, rgb(255,255,255,1) 80%);
  background-size: 
    150px 150px,
    150px 150px,
    100% 100%;
  background-position: 
    -1px -1px,
    -1px -1px,
    0 0;
    opacity: 0.1;
}

.wrapper::before {
    content: '';
    position: absolute;
    /* top: -200px; */
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: -o-radial-gradient(top, ellipse, var(--color-blue) 0%, var(--color-bg) 50%);
    background: radial-gradient(ellipse at top, var(--color-blue) 0%, var(--color-bg) 50%); 
    opacity: 0.3;
}

/*Stars*/
.star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; 
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
            box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    -webkit-animation: float 5s linear infinite;
            animation: float 5s linear infinite;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-100vh) translateX(calc(100vw * var(--direction)));
                transform: translateY(-100vh) translateX(calc(100vw * var(--direction)));
        opacity: 0;
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-100vh) translateX(calc(100vw * var(--direction)));
                transform: translateY(-100vh) translateX(calc(100vw * var(--direction)));
        opacity: 0;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1280px;
}

/*HEADER*/
.header {
    padding: 15px 0;
    /* position: fixed;
    top: 15px;     */
    width: 100%;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.header__logo {
    cursor: pointer;
    width: 100px;
    height: 80px;
}

.logo__icon {
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
}

.header__logo:hover > .logo__icon path {
    fill: #727bf6;
    
}

.header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px;
}

.header__nav {
    -webkit-transform: translateY(-500%) scale(0.6);
        -ms-transform: translateY(-500%) scale(0.6);
            transform: translateY(-500%) scale(0.6);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header__nav.open {
    -webkit-transform: translateY(0%) scale(1);
        -ms-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
}

.menu {
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;    
}

.menu__link {
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    color: var(--color-white);
    border-bottom: 1px solid transparent;
    -webkit-transition: border 0.5s ease-in-out;
    -o-transition: border 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
}

.menu__link::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgb(242,144,105);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(242,144,105,0.5)));
    background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242,144,105,0.5) 150%);
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242,144,105,0.5) 150%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;    
}

.menu__link:hover {
    border-color: var(--color-second);
}

.menu__link:hover::after {
    opacity: 1;
    visibility: visible;
}

.header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 15px;
    position: relative;
}

.header__social {    
    width: 20px;
    height: 20px;
    border-right: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    -webkit-transform: translateY(-5px) rotate(45deg);
        -ms-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header__social.open {
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
}

.header__icons {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-align: center;    
        -ms-flex-align: center;    
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header__icons.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(120%);
        -ms-transform: translateY(120%);
            transform: translateY(120%);
}

.header__link {
    display: block;
    width: 40px;
    height: 40px;
}

.header__icon {
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
}

.header__link > .header__icon {
    fill: var(--color-white)
}

.header__link:hover > .header__icon {
    fill: var(--color-blue);
}

.header__btn {
    padding: 10px;
    border-radius: 15px;    
    text-align: center;
    color: var(--color-white);
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header__btn:hover {
    -webkit-box-shadow: 0 0 10px var(--color-blue), 0 0 40px var(--color-blue), 0 0 80px var(--color-blue);
            box-shadow: 0 0 10px var(--color-blue), 0 0 40px var(--color-blue), 0 0 80px var(--color-blue);
    background-color: var(--color-blue);
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

.btn__line {
    position: absolute;
    z-index: 10;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear,left top, right top,from(transparent),to(var(--color-blue)));
    background: -o-linear-gradient(left,transparent,var(--color-blue));
    background: linear-gradient(90deg,transparent,var(--color-blue));
}

.header__btn:hover .btn__line--top {
    left: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.25s;
         -o-transition-delay: 0.25s;
            transition-delay: 0.25s;
}

.btn__line--right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear,left bottom, left top,from(transparent),to(var(--color-blue)));
    background: -o-linear-gradient(bottom,transparent,var(--color-blue));
    background: linear-gradient(0deg,transparent,var(--color-blue));
}

.header__btn:hover .btn__line--right {
    top: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.btn__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear,right top, left top,from(transparent),to(var(--color-blue)));
    background: -o-linear-gradient(right,transparent,var(--color-blue));
    background: linear-gradient(270deg,transparent,var(--color-blue));
}

.header__btn:hover .btn__line--bottom {
    right: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.25s;
         -o-transition-delay: 0.25s;
            transition-delay: 0.25s;
}

.btn__line--left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear,left top, left bottom,from(transparent),to(var(--color-blue)));
    background: -o-linear-gradient(top,transparent,var(--color-blue));
    background: linear-gradient(180deg,transparent,var(--color-blue));
}

.header__btn:hover .btn__line--left {
    bottom: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

/*BURGER*/
.burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 35px;
    height: 30px;
}

.burger__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-white);
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger__line:nth-child(2) {
    width: 80%;
}

.burger.open .burger__line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
    opacity: 1;
}

.burger.open .burger__line:nth-child(2) {
    display: none;
}

.burger.open .burger__line:nth-child(3) {
    -webkit-transform: translateY(-17px) rotate(-45deg);
        -ms-transform: translateY(-17px) rotate(-45deg);
            transform: translateY(-17px) rotate(-45deg);
    opacity: 1;
}

/*HERO*/
.hero__content {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;    
} 

.hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
}

.hero__content {
    width: 50%;
}

.hero__ifon {
    margin-left: auto;
    width: 400px;
    height: 800px;
    position: relative;
}

.ifon__inner {
    position: absolute;
    top: 13%;
    right: 1%;
    width: 400px;
    height: 550px;
}

.ifon__video {
    width: 100%;
    height: 100%;
}

.hero__title {    
    font-weight: bold;
    font-size: 70px;
    line-height: 120%;
}

.hero__descr {
    font-size: 18px;    
}

.hero__descr--strong{
    margin-bottom: 40px;
    font-weight: bold;
}

.hero__link {
    padding: 22px 44px;
    margin: 0;
    border: none;
    font-weight: 700;
    outline: none;
    color: var(--color_white);
    border-radius: 15px;
    background: rgb(244,31,4);
    background: -webkit-gradient(linear, left top, right top, color-stop(9%, rgba(244,31,4,1)), to(rgba(242,144,105,1)));
    background: -o-linear-gradient(left, rgba(244,31,4,1) 9%, rgba(242,144,105,1) 100%);
    background: linear-gradient(90deg, rgba(244,31,4,1) 9%, rgba(242,144,105,1) 100%);
    cursor: pointer;
    -webkit-transition: background 0.5s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: background 0.5s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, background 0.5s ease-in-out;
    transition: transform 0.3s ease-in-out, background 0.5s ease-in-out;
    transition: transform 0.3s ease-in-out, background 0.5s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero__link:focus-visible {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.hero__link:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(9%, rgba(242,144,105,1)), to(rgba(244,31,4,1)));
    background: -o-linear-gradient(left, rgba(242,144,105,1) 9%, rgba(244,31,4,1) 100%);
    background: linear-gradient(90deg, rgba(242,144,105,1) 9%, rgba(244,31,4,1) 100%);
}
